*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(56, 56, 56);
   
}

h1{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(205, 204, 204);
    text-align: center;
    font-size: 4rem;
    margin-top: 40px;
}


label{
    color: black;
    font-size: 1.8rem;
    font-weight: 800;
}


#container{
   
    text-align: center;
    color: white;
    background-color: rgb(255, 255, 255);
    padding: 80px 45px;
    height: 40%;
    width: 60%;
    margin: 40px 20%;
    border-radius: 30px;
    box-shadow: 0 0 90px rgb(0, 0, 0);
}


.input{
    background-color: rgb(255, 222, 92);
    color: black;
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}